<section class="footer">

    <div class="box-container">
  
        <div class="box">
            <h3>Talha | Portfolio</h3>
            <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br/> <br/> Keep Rising 🚀. Connect with me over live chat!</p>
        </div>
  
        <div class="box">
            <h3>Quick Links</h3>
            <a href="#home"><i class="fas fa-chevron-circle-right"></i> Home</a>
            <a href="#about"><i class="fas fa-chevron-circle-right"></i> About</a>
            <a href="#skills"><i class="fas fa-chevron-circle-right"></i> Skills</a>
            <a href="#education"><i class="fas fa-chevron-circle-right"></i> Education</a>
            <a href="#work"><i class="fas fa-chevron-circle-right"></i> Work</a>
            <a href="#experience"><i class="fas fa-chevron-circle-right"></i> Experience</a>
        </div>
  
        <div class="box">
            <h3>Contact Info</h3>
            <p> <i class="fas fa-phone"></i>+92 302 2210027</p>
            <p> <i class="fas fa-envelope"></i>talhaakhtarkpr1@@gmail.com</p>
            <p> <i class="fas fa-map-marked-alt"></i>Lahore, Pakistan-42000</p>
            <div class="share">
  
                <a href="https://www.linkedin.com/in/talha12/" class="fab fa-linkedin" aria-label="LinkedIn" target="_blank"></a>
                <a href="https://github.com/talhaakhtar1234" class="fab fa-github" aria-label="GitHub" target="_blank"></a>
                <a href="https://twitter.com/Rp20Ee" class="fab fa-twitter" aria-label="Twitter" target="_blank"></a>
                <a class="instagram" aria-label="Instagram" href="https://www.instagram.com/talhaakhtar120/"><i class="fab fa-instagram" target="_blank"></i></a>
            </div>
        </div>
    </div>
  
    <h1 class="credit">Designed with <i class="fa fa-heart pulse"></i> by <a href="https://www.linkedin.com/in/talha12/"> Talha Akhtar</a></h1>

  </section>