<!-- navbar.component.html -->
<header>
    <a href="/" class="logo" (click)="toggleNavbar()"><i class="fab fa-ioxhost"></i> TALHA AKHTAR</a>
  
    <div id="menu" class="fas fa-bars" (click)="toggleNavbar()"></div>
    <nav class="navbar" [ngClass]="{'navbar-open': isNavbarOpen}">
      <ul [ngClass]="{'show': isNavbarOpen}">
        <li><a class="active" href="#home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
        <li><a href="#skills"><i class="fa fa-code" aria-hidden="true"></i> Skills</a></li>
        <li><a href="#education"><i class="fa fa-university" aria-hidden="true"></i> Education</a></li>
        <li><a href="#work"><i class="fa fa-briefcase" aria-hidden="true"></i> Work</a></li>
        <li><a href="#experience"><i class="fa fa-users" aria-hidden="true"></i>Experience</a></li>
        <li><a href="#contact"><i class="fa fa-address-book" aria-hidden="true"></i> Contact</a></li>
      </ul>
    </nav>
  </header>
  