<section class="work" id="work">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>
  
    <div class="box-container">
  
      <div class="box tilt">
        <img draggable="false" src="./assets/cal.png" alt="" />
        <div class="content">
          <div class="tag">
          <h3>Calculator Website </h3>
          </div>
          <div class="desc">
            <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
            <div class="btns">
              <a href="https://steady-beignet-e41393.netlify.app/" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>




      <div class="box tilt">
        <img draggable="false" src="./assets/cal.png" alt="" />
        <div class="content">
          <div class="tag">
          <h3>Calculator Website</h3>
          </div>
          <div class="desc">
            <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
            <div class="btns">
              <a href="https://steady-beignet-e41393.netlify.app/" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>




      <div class="box tilt">
        <img draggable="false" src="./assets/cal.png" alt="" />
        <div class="content">
          <div class="tag">
          <h3>Calculator Website</h3>
          </div>
          <div class="desc">
            <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
            <div class="btns">
              <a href="https://steady-beignet-e41393.netlify.app/" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>




      <div class="box tilt">
        <img draggable="false" src="./assets/cal.png" alt="" />
        <div class="content">
          <div class="tag">
          <h3>Calculator Website</h3>
          </div>
          <div class="desc">
            <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
            <div class="btns">
              <a href="https://steady-beignet-e41393.netlify.app/" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>





      <div class="box tilt">
        <img draggable="false" src="./assets/cal.png" alt="" />
        <div class="content">
          <div class="tag">
          <h3>Calculator Website</h3>
          </div>
          <div class="desc">
            <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
            <div class="btns">
              <a href="https://steady-beignet-e41393.netlify.app/" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>




      <div class="box tilt">
        <img draggable="false" src="./assets/cal.png" alt="" />
        <div class="content">
          <div class="tag">
          <h3>Calculator Website</h3>
          </div>
          <div class="desc">
            <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
            <div class="btns">
              <a href="https://steady-beignet-e41393.netlify.app/" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>




      <div class="box tilt">
        <img draggable="false" src="./assets/cal.png" alt="" />
        <div class="content">
          <div class="tag">
          <h3>Calculator Website</h3>
          </div>
          <div class="desc">
            <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
            <div class="btns">
              <a href="https://steady-beignet-e41393.netlify.app/" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>



      <div class="box tilt">
        <img draggable="false" src="./assets/cal.png" alt="" />
        <div class="content">
          <div class="tag">
          <h3>Calculator Website</h3>
          </div>
          <div class="desc">
            <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
            <div class="btns">
              <a href="https://steady-beignet-e41393.netlify.app/" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>

     


      



      
  
  </div>
  
  <div class="viewall">
    <a href="#" class="btn"><span>View All</span>
      <i class="fas fa-arrow-right"></i>
  </a>
  </div>
  
  </section>