.work {
    /* background: #010124; */
    background: linear-gradient(to bottom, #000031, #00002c);
  }
  .work h2 {
    color: #fff;
    padding: 3rem;
    font-size: 3rem;
  }
  .work .heading span {
    color: #fc6005;
  }
  .work .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem;
  }
  .work .box-container .box {
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    height: 30rem;
  }
  .work .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .work .box-container .box .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
  }
  .work .box-container .box .content .tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 100%;
    padding-left: 1rem;
    background: #fc6005;
  }
  .work .box-container .box .content .tag h3 {
    font-size: 2rem;
  }
  .work .box-container .box:hover .content {
    top: 25%;
  }
  .work .desc {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .work .desc p {
    font-size: 1.5rem;
  }
  .work .desc .btns {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
  }
  .work .desc .btns .btn {
    line-height: 0;
    display: inline;
    padding: 1.5rem 2.5rem;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    background: #00203fff;
    margin-right: 2rem;
  }
  .work .desc .btns .btn:hover {
    background: #fc6005;
  }
  .work .viewall {
    display: flex;
    justify-content: center;
  }
  .work .viewall .btn {
    position: relative;
    line-height: 0;
    padding: 2rem 3rem;
    border-radius: 0.5em;
    transition: 0.5s;
    margin: 3rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: 2px solid #fff;
    box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
    text-align: center;
  }
  .work .viewall .btn span {
    font-weight: 600;
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
  }
  .work .viewall .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .work .viewall .btn:hover {
    background: #fff;
    color: #000;
  }
  .work .viewall .btn:hover i {
    transform: translateX(5px);
  }