<section class="experience" id="experience">

    <h2 class="heading"><i class="fa fa-users" aria-hidden="true"></i> Experience </h2>
  
    <div class="timeline">
  
      <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>Lorem ipsum</h2>
          </div>
          <div class="desc">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>Oct 2021 - present</p>
          </div>
        </div>
      </div>
  
      <div class="container left">
        <div class="content">
          <div class="tag">
            <h2>Lorem ipsum</h2>
          </div>
          <div class="desc">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>June 2021 - Dec 2021</p>
          </div>
        </div>
      </div>
  
      <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>Lorem ipsum </h2>
          </div>
          <div class="desc">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>May 2021 - June 2021</p>
          </div>
        </div>
      </div>
  
     
     
    </div>
  
    <div class="morebtn">
      <a href="/experience" class="btn"><span>View All</span>
        <i class="fas fa-arrow-right"></i>
    </a>
    </div>
  
  
  
  </section>