<section class="skills" id="skills">
  <h2 class="heading">
    <i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span>
  </h2>

  <div class="container">
    <div class="row" id="skillsContainer">

      
      <div class="bar">
        <div class="info">
          <img src="https://img.icons8.com/?size=512&id=71257&format=png" />
          <span>Angular</span>
        </div>
      </div>


      <div class="bar">
        <div class="info">
          <img src="https://img.icons8.com/?size=512&id=20909&format=png"/>
          <span>HTML</span>
        </div>
      </div>


      <div class="bar">
        <div class="info">
          <img src="https://img.icons8.com/?size=512&id=21278&format=png"/>
          <span>CSS</span>
        </div>
      </div>


      <div class="bar">
        <div class="info">
          <img src="https://img.icons8.com/?size=512&id=84710&format=png"/>
          <span>BootStrap</span>
        </div>
      </div>


      <div class="bar">
        <div class="info">
          <img src="https://img.icons8.com/?size=512&id=108784&format=png"/>
          <span>JavaScript</span>
        </div>
      </div>


      <div class="bar">
        <div class="info">
          <img src="https://img.icons8.com/?size=512&id=uJM6fQYqDaZK&format=png"/>
          <span>TypeScript</span>
        </div>
      </div>


      <div class="bar">
        <div class="info">
          <img src="https://img.icons8.com/?size=512&id=16318&format=png"/>
          <span>GitHub</span>
        </div>
      </div>


      <div class="bar">
        <div class="info">
          <img src="https://img.icons8.com/?size=512&id=114474&format=png"/>
          <span>JSON</span>
        </div>
      </div>


      



    </div>
  </div>
</section>
