<section class="about" id="about">
  <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

  <div class="row">
    <div class="image">
      <img
        draggable="false"
        class="tilt"
        src="./assets/talha.jpg"
        alt=""
      />
    </div>
    <div class="content">
      <h4>I'm Talha</h4>
      <span class="tag">FrontEnd Developer</span>

      <p>
        As a front-end web developer proficient in the Angular framework, I
        possess a keen fervor for crafting immersive user experiences. My
        expertise lies in seamlessly translating intricate designs into dynamic
        and responsive websites. With a comprehensive understanding of HTML,
        CSS, and JavaScript, I specialize in developing robust and scalable
        front-end solutions. I consistently deliver clean and efficient code,
        leveraging the full potential of Angular to optimize performance and
        exceed client expectations. With a proven track record, I am dedicated
        to pushing the boundaries of web development and elevating digital
        experiences.
      </p>

      <div class="box-container">
        <!-- <div class="box">
              <p><span> age: </span> 20</p>
              <p><span> phone : </span> +91 XXX-XXX-XXXX</p>
            </div> -->
        <div class="box">
          <p><span> email : </span> talhaakhtarkpr1@gmail.com</p>
          <p><span> place : </span> Lahore, Pakistan - 42000</p>
        </div>
      </div>

      <div class="resumebtn">
        <a
          href="https://drive.google.com/file/d/1Gt4-RV0-p_YDlzNzG6UoYVz_j17QtmCT/view"
          target="_blank"
          class="btn"
          ><span>Resume</span>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
