<section class="education" id="education">
  <h1 class="heading">
    <i class="fas fa-graduation-cap"></i> My <span>Education</span>
  </h1>

  <p class="qoute">
    "Education is Igniting minds to think, explore, and innovate"
  </p>

  <div class="box-container">
    <div class="box">
      <div class="image">
        <img
          draggable="false"
          src="./assets/punjab.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <h3>Bachelor of Engineering in Electrical Engineering</h3>
        <p>University of the Punjab | Lahore</p>
        <h4>2020-2024 | Pursuing</h4>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img draggable="false" src="../assets/pgc.jpg" alt="" />
      </div>
      <div class="content">
        <h3>F.Sc | Pre-Engineering</h3>
        <p>Punjab Group of Colleges | Lahore</p>
        <h4>2018-2020 | Completed</h4>
        <h4>954/1100    (86%)</h4>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img draggable="false" src="./assets/cps.jpg" alt="" />
      </div>
      <div class="content">
        <h3>SSC | Computer</h3>
        <p>Central Public School | Khanpur</p>
        <h4>2016-2018 | Completed</h4>
        <h4>1000/1100    (91%)</h4>
      </div>
    </div>
  </div>
</section>
